.DS_Store
node_modules
/dist
*/vault/*
*/influxdata/*

# local env files
.env*
app.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
