SERVER_PORT=3001
VAULT_ADDRESS=vault:8200
VAULT_TOKEN=
JWT_SECRET=secret1
JWT_REFRESH_SECRET=secret2
JWT_VERIFICATION_SECRET=secret3
JWT_FORGOT_PASSWORD_SECRET=secret4
JWT_TOKEN_EXPIRES_IN=14d
ADMIN_USERNAME=admin@test.com
ADMIN_PASSWORD=123456
CLIENT_BASE_URL=http://localhost:8080
SENDGRID_API_KEY=
SENDGRID_EMAIL_FROM=Valk Supports <supports@valk.io>