GITHUB_SECRET_TOKEN=
GITHUB_BRANCH=
GITHUB_TOKEN=
SLACK_SECRET_TOKEN=
SLACK_INCOMING_WEBHOOK=
TWILIO_ACCOUNT_ID=
TWILIO_SECRET_TOKEN=
TWILIO_FROM_PHONE=
TWILIO_TO_PHONE=
API_DOMAIN=http://localhost:3001
NODE_ENV=production
INFLUXDB_HOST=http://127.0.0.1
INFLUXDB_PORT=8086
PROMETHEUS_API_URL=http://127.0.0.1:9090/api/v1
